.item.active {
  .content {
    text-decoration: underline;
  }
}

.comment.self {
  padding-left: 2rem !important;
  .content .author {
    text-decoration: underline;
  }
}

.comments {
  height: 70vh;
  overflow-y: scroll;
}
